body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.navbar a {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar {
  background-color: #444;
  overflow: hidden;
  list-style-type: none;
}
.navbar a:hover {
  color: rgb(229, 117, 12);
  transition: 0.5s;
}
main {
  padding: 20px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
